<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HOME | restaurant</title>
</head>
<body>
	<h1>HOME page</h1>

	<h2>CAROUSEL</h2>
	<div class="carousel">
		
		<div class="btn-img">
			<button class="btn-carousel previous"> << </button>
			<div class="contentCarousel">
				<div class="imgMiam"><img src="miam1.jpg"></div>
				<div class="imgMiam"><img src="miam2.jpg"></div>
				<div class="imgMiam"><img src="miam3.jpg"></div>
			</div>
			<button class="btn-carousel next"> >> </button>
		</div>

		<div class="btn-cercle">
			<button class="btn btn-position"></button>
			<button class="btn btn-position2"></button>
			<button class="btn btn-position3"></button>
		</div>
	</div>






	<h2>TAB</h2>
	<div class="tab">
		<section class="contentButt">
			<button class="home btn-primary">Présentation</button>
			<button class="menu btn-primary" href="#">Les menus</button>
			<button class="book btn-primary" href="#">Book a table</button>
		</section>

		<section class="contentText">
			<p class="tabs tab1">A restaurant (/ˈrɛstərənt, -ɒnt, -ɒ̃/; French: [ʁɛstoʁɑ̃] (About this sound listen)), or an eatery, is a business which prepares and serves food and drinks to customers in exchange for money. Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services, and some offer only take-out and delivery. Restaurants vary greatly in appearance and offerings, including a wide variety of cuisines and service models ranging from inexpensive fast food restaurants and cafeterias to mid-priced family restaurants, to high-priced luxury establishments.
			</p>

			<p class="tabs tab2">
				Pâté en croûte de lapin de garenne, foie gras et légumes<br>
				Tagliolini à la truffe blanche<br>
				Langoustines rafraîchies au caviar<br>
				Terrines charcutières
			</p>

			<p class="tabs tab3">Peu importe d'où vous venez ou ce que vous recherchez, nous avons le repas idéale pour vous. Nos 28 990 885 restaurateurs, y compris 5 621 397 hotels sont prêt à vous satisfaire.
			</p>
		</section>
	</div>
</body>
</html>